{% extends "binary_cnn/base.html" %}
{% block content %}

<body>
    <style>
        /* CSS to style the thumbnail */
        .thumbnail {
            padding-top: 10px;
            width: 50px; /* Specify the width of the thumbnail */
            height: auto; /* Auto-adjust the height to maintain aspect ratio */
        }
        .fonts {
          font-family: "Lucida Console", "Courier New";
        }
    </style>
    <div class="jumbotron">
    <h2 class="display-4">Classification Results</h2>
      <div class="fonts">
         Your image: <img src="/static/{{file_name}}" alt="Thumbnail" class="thumbnail"><br><br>
         Has been classified: {{ class_result }}
      </div>
  </div>
</body>
{% endblock content %}
